.contact-us-heading {
    font-size: 30px; 
    margin-top: 20px;
    color: #333;
    text-align: center;
}
.contact-submit-btn {
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: green;
    color: white;
    border-radius: 60px;
    font-weight: 700;  
}