.favorites-list-heading {
    font-size: 30px; 
    margin-top: 20px;
    color: #333;
    text-align: center;
}
.favorites-list-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container fills the entire viewport height */
  }
  
  .footer {
    margin-top: auto; /* Push the footer to the bottom of the page */
  }
  
  .favorites-card{
    /* position: relative;
    margin: 10px;
    text-align: center;
    width: calc(25% - 20px);
    max-width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; */

    position: relative;
  margin: 10px;
  text-align: center;
  width: calc(30% - 20px); /* Increase the width as needed */
  max-width: 250px; /* Increase the max-width as needed */
  border: 1px solid #ccc;
  padding: 20px; /* Increase the padding as needed */
  box-sizing: border-box;


  }

  .delete-button {
    position: absolute;
    bottom: 10px;
    padding: 1px;
    font-size: 11px;
    left: 5px;
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: red;
    color: white;
    border-radius: 60px;
    font-weight: 700;
   }

   .buy-button {
    position: absolute;
    bottom: 10px;
    padding: 1px;
    font-size: 11px;
    right: 5px;
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: green;
    color: white;
    border-radius: 60px;
    font-weight: 700;
  }
  .favorites-product-price {
    font-size: 14px;
  font-weight: bolder;
  /* margin-bottom: 45px; */
  position:absolute;
  bottom: 30px;
  right: 110px;
  }