@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body {
  background-color: whitesmoke;

}
.navbar-brand {
    font-size: 2rem;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: black;
    
  }
  .navbar-brand:hover {
    color: green;
  }
  .nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Julius Sans One';
    /* font-weight: bold; */
  }
  .nav-link:hover {
    color: green;
  }
  .search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid green;
    
  }
  .search-btn{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: green;
    color: white;
    border-radius: 60px;
    font-weight: 700;
    
  }
  .larger-icon svg {
    width: 2em; /* Adjust the size as needed */
    height: 2em; /* Adjust the size as needed */
  }
  .favorites-icon svg {
    width: 1.5em; /* Adjust the size as needed */
    height: 1.5em; /* Adjust the size as needed */
  }
  .header {
    font-weight: bold;
  
  }
  

