.product-card {
  position: relative;
  margin: 10px;
  text-align: center;
  width: calc(25% - 20px);
  max-width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-name {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-description {
  font-size: 12px;
  margin-bottom: 70px;
}

.product-price {
  font-size: 14px;
  font-weight: bolder;
  /* margin-bottom: 45px; */
  position:absolute;
  bottom: 30px;
  right: 95px;
 
}

.buy-button {
  position: absolute;
  bottom: 10px;
  padding: 1px;
  font-size: 11px;
  right: 5px;
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background: green;
  color: white;
  border-radius: 60px;
  font-weight: 700;
}

.custom-favorite-button {
  position: absolute;
  bottom: 3px;
  left: 15px;
  padding: 5px 5px;
  font-size: 35px;
  background-color: transparent;
  color: rgb(196, 188, 188); /* Initial color */
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth color transition */
  outline: none;
  border: none;
}

/* Remove outline from the SVG element within the favorites button */
.custom-favorite-button svg {
  outline-color: none;
  outline-style: none;
  
}

.custom-favorite-button:focus {
  outline: none !important; /* Remove the blue highlight on focus */
}

.custom-favorite-button:hover {
  --bs-btn-hover-bg: transparent !important;
  --bs-btn-hover-color: rgb(175, 171, 171) !important;
}

.custom-favorite-button.favorite {
  color: rgb(218, 50, 50); /* Color when favorited */
}
.no-focus-outline {
  outline: none;
}
.delete-button {
 background: red;
 border-radius: 60px;
 font-weight: 500;
 outline: none;
border: none;
bottom: 20px;
position:absolute;
right: 80px;
font-size: 10px;


}

