.product-card {
  position: relative;
  margin: 10px;
  text-align: center;
  width: calc(25% - 20px);
  max-width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-name {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-description {
  font-size: 12px;
  margin-bottom: 20px;
}

.product-price {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 45px;
}

.buy-button {
  position: absolute;
  bottom: 5px;
  padding: 1px;
  font-size: 11px;
  right: 5px;
}

.custom-favorite-button {
  position: absolute;
  bottom: 10px;
  left: 3px;
  padding: 5px 5px;
  font-size: 25px;
  background-color: transparent;
  color: rgb(196, 188, 188); /* Initial color */
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth color transition */
}
.custom-favorite-button:focus {
  outline: none; /* Remove the blue highlight on focus */
  
}
.custom-favorite-button:hover {
  --bs-btn-hover-bg: transparent !important;
  --bs-btn-hover-color: rgb(175, 171, 171);

}

.custom-favorite-button.favorite {
  color: rgb(218, 50, 50); /* Color when favorited */
}